<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- ekhane link add korte chaile public likhte hobena cz main file e bole dichi sob jeno public theke ney -->
    <h1>hey <%= 2+2 %></h1>
    <script src="/javascript/script.js"></script>
  </body>
</html>
